* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header_outer_container {
  width: 100%;
  background-color: #141414;
  padding: 20px 0;
  position: fixed;
  top: 0;
  z-index: 100;
}

.header-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* max-width: 1200px; */
  /* margin: 0 auto; */
  /* padding: 0 20px; */
  width: 90%;
}

.header__left ul,
.header__right ul {
  display: flex;
  align-items: center;
  list-style: none;

  gap: 2.5rem;
}

.header__left ul li,
.header__right ul li {
  color: #fff;

  /* margin-left: 20px; */
  cursor: pointer;
  transition: color 0.3s;
}

.header__left ul li:hover,
.header__right ul li:hover {
  color: #b3b3b3;
}

.header__left ul li:first-child {
  margin-left: 0;
}

.header__left ul li img {
  cursor: pointer;
}

.header__right ul li {
  font-size: 30px; /* Increased font size */
}

/* .header__right ul li:last-child {
  margin-left: 5px;
} */

.header__right ul li:hover {
  color: #b3b3b3;
}
